In [52]:
import pandas as pd
import numpy as np
import datetime as dt

In [53]:
vacinations_df = pd.read_csv("country_vaccinations_raw.csv")
cases_deaths_df = pd.read_csv("worldometer_coronavirus_daily_data_raw.csv")

In [54]:
vacinations_df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Albania,ALB,2021-01-10,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
1,Albania,ALB,2021-01-11,NaN,NaN,NaN,NaN,64.0,NaN,NaN,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
2,Albania,ALB,2021-01-12,128.0,128.0,NaN,NaN,64.0,0.00,0.00,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
3,Albania,ALB,2021-01-13,188.0,188.0,NaN,60.0,63.0,0.01,0.01,NaN,22.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
4,Albania,ALB,2021-01-14,266.0,266.0,NaN,78.0,66.0,0.01,0.01,NaN,23.0,Pfizer/BioNTech,Ministry of Health,https://shendetesia.gov.al/covid19-ministria-e...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4430,Zimbabwe,ZWE,2021-02-23,4041.0,4041.0,NaN,2727.0,808.0,0.03,0.03,NaN,54.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365740267...
4431,Zimbabwe,ZWE,2021-02-24,7872.0,7872.0,NaN,3831.0,1312.0,0.05,0.05,NaN,88.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365740267...
4432,Zimbabwe,ZWE,2021-02-25,11007.0,11007.0,NaN,3135.0,1572.0,0.07,0.07,NaN,106.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365740267...
4433,Zimbabwe,ZWE,2021-02-26,12579.0,12579.0,NaN,1572.0,1750.0,0.08,0.08,NaN,118.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365740267...
4434,Zimbabwe,ZWE,2021-02-27,15705.0,15705.0,NaN,3126.0,2150.0,0.11,0.11,NaN,145.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1365740267...

In [76]:
cleaned_vacinations_df = vacinations_df.drop(["iso_code", 'daily_vaccinations_raw', "source_name", "source_website", "daily_vaccinations_per_million", "people_fully_vaccinated_per_hundred", "people_vaccinated_per_hundred", "total_vaccinations_per_hundred"], axis=1)

In [77]:
cleaned_vacinations_df.dtypes

country                     object
date                        object
total_vaccinations         float64
people_vaccinated          float64
people_fully_vaccinated    float64
daily_vaccinations         float64
vaccines                    object
dtype: object

In [78]:
cleaned_vacinations_df['date'] = pd.to_datetime(cleaned_vacinations_df["date"])

In [79]:
cleaned_vacinations_df

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines
0,Albania,2021-01-10,0.0,0.0,NaN,NaN,Pfizer/BioNTech
1,Albania,2021-01-11,NaN,NaN,NaN,64.0,Pfizer/BioNTech
2,Albania,2021-01-12,128.0,128.0,NaN,64.0,Pfizer/BioNTech
3,Albania,2021-01-13,188.0,188.0,NaN,63.0,Pfizer/BioNTech
4,Albania,2021-01-14,266.0,266.0,NaN,66.0,Pfizer/BioNTech
...,...,...,...,...,...,...,...
4430,Zimbabwe,2021-02-23,4041.0,4041.0,NaN,808.0,Sinopharm/Beijing
4431,Zimbabwe,2021-02-24,7872.0,7872.0,NaN,1312.0,Sinopharm/Beijing
4432,Zimbabwe,2021-02-25,11007.0,11007.0,NaN,1572.0,Sinopharm/Beijing
4433,Zimbabwe,2021-02-26,12579.0,12579.0,NaN,1750.0,Sinopharm/Beijing
4434,Zimbabwe,2021-02-27,15705.0,15705.0,NaN,2150.0,Sinopharm/Beijing

In [119]:
cases_deaths_df

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...
82801,2021-2-22,Zimbabwe,35862.0,66.0,2205.0,1441.0,5.0
82802,2021-2-23,Zimbabwe,35910.0,48.0,2174.0,1448.0,7.0
82803,2021-2-24,Zimbabwe,35960.0,50.0,2094.0,1456.0,8.0
82804,2021-2-25,Zimbabwe,35994.0,34.0,2081.0,1458.0,2.0
82805,2021-2-26,Zimbabwe,36044.0,50.0,2042.0,1463.0,5.0

In [99]:
cleaned_cases_deaths_df = cases_deaths_df[cases_deaths_df["date"] > "2021-1-01"]
cleaned_cases_deaths_df['country'] = cleaned_cases_deaths_df['country'].replace("USA", "United States")
cleaned_cases_deaths_df['country'] = cleaned_cases_deaths_df['country'].replace("UK", "United Kingdom")

<ipython-input-99-e7f531ad47b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_cases_deaths_df['country'] = cleaned_cases_deaths_df['country'].replace("USA", "United States")
<ipython-input-99-e7f531ad47b2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_cases_deaths_df['country'] = cleaned_cases_deaths_df['country'].replace("UK", "United Kingdom")

In [100]:
cleaned_cases_deaths_df['date'] = pd.to_datetime(cleaned_cases_deaths_df["date"])

<ipython-input-100-faa7db063f1e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_cases_deaths_df['date'] = pd.to_datetime(cleaned_cases_deaths_df["date"])

In [116]:
cleaned_cases_deaths_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean Netherlands', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China Hong Kong Sar', 'China Macao Sar', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', 'Cote D Ivoire', 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic Of The Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands Malvinas', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea Bissau',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Kitts And Nevis',
       'Saint Lucia', 'Saint Martin', 'Saint Pierre And Miquelon',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'State Of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor Leste', 'Togo', 'Trinidad And Tobago',
       'Tunisia', 'Turkey', 'Turks And Caicos Islands', 'Uganda',
       'United Kingdom', 'Ukraine', 'United Arab Emirates', 'Uruguay',
       'United States', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Viet Nam',
       'Wallis And Futuna Islands', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [102]:
combined_df = pd.merge(cleaned_vacinations_df, cleaned_cases_deaths_df, how='inner', on=("country", 'date'))

In [103]:
combined_df

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,Albania,2021-01-10,0.0,0.0,NaN,NaN,Pfizer/BioNTech,63595.0,562.0,24706.0,1241.0,8.0
1,Albania,2021-01-11,NaN,NaN,NaN,64.0,Pfizer/BioNTech,63971.0,376.0,24743.0,1247.0,6.0
2,Albania,2021-01-12,128.0,128.0,NaN,64.0,Pfizer/BioNTech,64627.0,656.0,24954.0,1252.0,5.0
3,Albania,2021-01-13,188.0,188.0,NaN,63.0,Pfizer/BioNTech,65334.0,707.0,25218.0,1256.0,4.0
4,Albania,2021-01-14,266.0,266.0,NaN,66.0,Pfizer/BioNTech,65994.0,660.0,25487.0,1261.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3582,Zimbabwe,2021-02-22,1314.0,1314.0,NaN,328.0,Sinopharm/Beijing,35862.0,66.0,2205.0,1441.0,5.0
3583,Zimbabwe,2021-02-23,4041.0,4041.0,NaN,808.0,Sinopharm/Beijing,35910.0,48.0,2174.0,1448.0,7.0
3584,Zimbabwe,2021-02-24,7872.0,7872.0,NaN,1312.0,Sinopharm/Beijing,35960.0,50.0,2094.0,1456.0,8.0
3585,Zimbabwe,2021-02-25,11007.0,11007.0,NaN,1572.0,Sinopharm/Beijing,35994.0,34.0,2081.0,1458.0,2.0
3586,Zimbabwe,2021-02-26,12579.0,12579.0,NaN,1750.0,Sinopharm/Beijing,36044.0,50.0,2042.0,1463.0,5.0

In [104]:
 # Drop the null columns where all values are null
clean_data = combined_df.dropna(axis='columns', how='all')
# Drop the null rows
clean_data = clean_data.dropna()

In [105]:
total_by_country=clean_data.groupby(["country"])["people_fully_vaccinated"].max().sort_values(ascending=False)

In [128]:
countries = ["United States", "Israel","India", "United Arab Emirates", "Germany","Brazil","Russia","France","Turkey","Italy","Spain","Poland","Indonesia","United Kingdom","Romania","Mexico"]

In [129]:
countries

['United States',
 'Israel',
 'India',
 'United Arab Emirates',
 'Germany',
 'Brazil',
 'Russia',
 'France',
 'Turkey',
 'Italy',
 'Spain',
 'Poland',
 'Indonesia',
 'United Kingdom',
 'Romania',
 'Mexico']

In [132]:
final_df = clean_data[clean_data['country'].isin(countries)]

In [133]:
final_df

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,vaccines,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
531,Brazil,2021-02-06,3401383.0,3399421.0,1962.0,199739.0,"Oxford/AstraZeneca, Sinovac",9497795.0,48707.0,903049.0,231069.0,942.0
532,Brazil,2021-02-07,3553681.0,3534004.0,19677.0,211375.0,"Oxford/AstraZeneca, Sinovac",9524640.0,26845.0,895892.0,231561.0,492.0
533,Brazil,2021-02-08,3605538.0,3579850.0,25688.0,211604.0,"Oxford/AstraZeneca, Sinovac",9550301.0,25661.0,870408.0,232248.0,687.0
534,Brazil,2021-02-09,3820207.0,3786591.0,33616.0,218237.0,"Oxford/AstraZeneca, Sinovac",9602034.0,51733.0,844984.0,233588.0,1340.0
535,Brazil,2021-02-10,4120332.0,4069677.0,50655.0,228375.0,"Oxford/AstraZeneca, Sinovac",9662305.0,60271.0,831230.0,234945.0,1357.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3567,United States,2021-02-22,64177474.0,44138118.0,19438495.0,1446445.0,"Moderna, Pfizer/BioNTech",28829332.0,59624.0,9201798.0,513394.0,1378.0
3568,United States,2021-02-23,65032083.0,44544969.0,19882544.0,1401674.0,"Moderna, Pfizer/BioNTech",28902002.0,72670.0,9160072.0,515838.0,2444.0
3569,United States,2021-02-24,66464947.0,45237143.0,20607261.0,1454731.0,"Moderna, Pfizer/BioNTech",28977573.0,75571.0,9118705.0,518371.0,2533.0
3570,United States,2021-02-25,68274117.0,46074392.0,21555117.0,1505193.0,"Moderna, Pfizer/BioNTech",29056287.0,78714.0,9094502.0,520836.0,2465.0
3571,United States,2021-02-26,70454064.0,47184199.0,22613359.0,1552717.0,"Moderna, Pfizer/BioNTech",29136912.0,80625.0,9079762.0,523082.0,2246.0

In [134]:
final_df.to_csv("Final_Clean_Data")